body {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 1.6;
    background: #EAEAEA;
}

.page {
    padding: 15px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

/* header */

.header-inner {
    display: flex;
    justify-content: space-between;
}

.brand {
    position: relative;
    font-size: 25px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s linear;
}

.brand:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #a8a7a7;
    content: "";
    transition: width 0.3s ease-out;
}

.brand:hover:after,
.brand:focus:after {
    width: 100%;
}

.header-nav {
    display: flex;
}

.header-nav-link {
    position: relative;
    margin-left: 15px;
    bottom: -7px;

}

.nav-icon {
    height: 24px;
    width: 24px;
    opacity: 0.7;
}

.nav-icon:hover {
    opacity: 1;
}

.icon-button__badge {
    position: absolute;
    font-size: 13px;
    top: -6px;
    right: -6px;
    width: 17px;
    height: 17px;
    background: #ff7300;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* subtitle */

.subtitle {
    font-size: 20px;
    margin: 0;
    font-style: normal;
    color: #838383;
}

/* card-product */

.card-product {
    display: inline;
}

.content {
    display: inline-block;
    width: 350px;
    height: 440px;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin: 15px;
    padding: 15px;
}

.ul-showcase {
    text-align: center;
}

.card-content-image {
    display: flex;
    width: 220px;
    height: 237px;
    padding: 15px 64px 54px 65px;
}

.bucket {
    background: transparent;
    border: none;
    padding: 0 0 0 30px;
    cursor: pointer;
}

.img-product {
    text-align: center;
    width: 100%;
}

.card-content {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.price {
    color: #FFA542;
    width: 59px;
    height: 21px;
}

.title {
    width: 144px;
    height: 21px;
    font-weight: bold;
}

.star {
    display: inline-block;
    position: relative;
    bottom: -5px;
    margin: 0 7px;

}

/* btn */

.button-add {
    cursor: pointer;
    width: 65px;
    height: 21px;
    border: none;
    background: transparent;
    color: #575757;
    font-size: 17px;
    font-weight: bold;
}

.button-add:hover {
    color: #000000;
}

/* basket */

.card-product-basket {
    display: inline;
}

.btn-count {
    margin: 0 10px;
    color: white;
    background-color: #FFA542;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 30px;
}

.content-total {
    display: inline-block;
    width: 345px;
    height: 114px;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin: 15px;
    padding: 15px;
}

.total {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-weight: bold;
}

.registration-btn {
    background: #737373;
    color: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    letter-spacing: 2px;
}

.registration-btn:hover {
    border: 2px solid #000000;
    cursor: pointer;
}

.registration {
    text-align: center;
    height: 50px;
    margin: 15px;
}

/* footer */

.content-footer {
    display: inline-block;
    width: 98%;
    height: 149px;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.menu-footer {
    list-style-type: none;
    text-align: left;
}

.social-network {
    margin: 5px;
}

.link-footer {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.link-footer:hover {
    text-decoration: underline;
}

.menu-language {
    margin: 15px;
}

.global-icon {
    width: 16px;
}


.b-footer {
    cursor: pointer;
}
